header {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
}

body {
    padding-top: 50px;
}

nav {
    font-size: 12pt;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: auto;
}



nav a {
    line-height: 50px;
    height: 50px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}


nav a#pull {
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
    background-color: #FF8000;
    text-align: center;
}

li {
    /*position: relative;*/
    display: inline-block;
}

li a {
    color: #ffffff;
    text-align: center;
    padding: 14.5px 16px;
    text-decoration: none;
}

li a:hover {
    /*color: #597812;*/
    color: #ff0000;
    font-weight: normal;
}

.menu {
    width: 5000px;
    height: 50px;
    text-align: center;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    background-color: #333333;
    color: white;
    position: absolute;
    z-index: 1;
}