.board_view{
    width: 100%;
    border-top: 2px solid #000;
    font-size: 1.4rem;
}
.board_view .title{
    padding: 20px 15px;
    border-bottom: 1px solid #ddd;
    font-size: 2rem;
}
.board_view .info{
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
}
.board_view .cont{
    padding: 15px;
    border-bottom: 2px solid #000;
    line-height: 160%;
    font-size: 1.4rem;
}

/*info 설정*/
.board_view .info dl{
    display: inline-block;
    padding: 0 20px;
    position: relative;
}
.board_view .info dl:first-child{
    padding-left: 0;
}
.board_view .info dl::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    display: block;
    width: 1px;
    height: 13px;
    background-color: #ddd;
}
.board_view .info dl:first-child::before{
    display: none;
}
.board_view .info dl dd,
.board_view .info dl dt{
    display: inline-block;
    font-size: 1.4rem;
}
.board_view .info dl dd{
    margin-left: 10px;
    color: #777;
}